header {
    width: 100%;
    position: fixed;
    z-index: 9999;
}

nav {
    background: black;
    border-top: 1px solid #000;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    max-height: 70px;
    width: 95%;
    position: absolute;
    transition: 0.5s;
    top: -55px;
}

nav:hover {
    top: 0;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

nav ul li.btn {
    font-size: 29px;
    flex: auto;
    background-color: black;
    border-color: black;
    padding-left: 20px;
    color: white;
    display: none;
}

nav ul li.btn span {
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 1px solid #151515;
    border-radius: 5px;
    cursor: pointer;
}

nav ul li.btn .show {
    content: "\f00d";
}

nav ul li.logo {
    z-index: 2;
    flex: 1;
}

nav ul li ul.items {
    padding: 0 25px;
    display: flex;
}

nav ul li ul.items * {
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ease-in-out;
}

nav ul li ul.items *:hover {
    color: #3498db;
}

nav ul li.search-bar-container {
    line-height: 40px;
    display: grid;
    grid-template-columns: 200px 40px;
    align-self: center;
    justify-self: center;
    background: #f2f2f2;
    border-radius: 5px;
}

nav ul li.search-bar-container input[type="search"] {
    height: 100%;
    width: 200px;
    border: none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

nav ul li.search-bar-container label.icon {
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    background-color: white;
    transition: 0.3s ease-in-out;
}

nav ul li.search-bar-container label.icon:hover {
    background: #e6e6e6;
}

nav ul li.search-bar-container label.icon i {
    color: #222222;
    font-size: 18px;
}

nav ul li ul.items a {
    margin: auto;
    padding: 15px;
    color: #f2f2f2;
}

@media screen and (max-width: 1052px) {
    nav {
        padding-left: 0;
        padding-bottom: 10px;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
    }

    nav ul li.logo {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    nav {
        z-index: 1;
        padding-left: 0;
    }
}

@media screen and (max-width: 735px) {
    nav ul li ul.items {
        display: none;
    }

    nav ul li.btn {
        display: flex;
    }
}

@media screen and (max-width: 430px) {
    nav {
        padding-bottom: 17px;
    }

    nav ul li {
        width: 150px;
        padding-right: 25px;
    }

    nav ul li.search-bar-container {
        line-height: 30px;
        grid-template-columns: 150px 30px;
    }

    nav ul li.search-bar-container {
        width: 150px;
        height: 30px;
    }

    nav ul li.search-bar-container input[type="search"] {
        width: 150px;
    }
}

@media screen and (max-width: 300px) {
    nav ul li.search-bar-container {
        display: none;
    }
}

@media screen and (max-height: 500px) {
    nav {
        padding-left: 0;
        padding-bottom: 10px;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
    }

    nav ul li.logo {
        display: none;
    }
}

@media screen and (max-height: 400px) {
    nav {
        padding-bottom: 3px;
    }
}

#adminPageAnchor, #logoutAnchor {
    display: flex;
}