.download_data_button, .set_dataset_button, .sort_button, .by_button, .dropdown-content {
    font-size: 1em;
    margin: 30px;
    letter-spacing: 0.1em;
    cursor: pointer;
    line-height: 25px;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

.inline {
    display: flex;
}

.download_data_button:hover, .set_dataset_button:hover, .sort_button:hover, .by_button:hover {
    text-decoration: none;
    background: transparent;
}

.dropdown-content-downloads, .dropdown-content-datasets, .dropdown-content-sort, .dropdown-content-by {
    display: block;
    justify-content: space-between;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0s, opacity 1s;
    position: absolute;
    top: 70px;
}

.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
}

.dropdown-content-downloads button, .dropdown-content-datasets button, .dropdown-content-sort button, .dropdown-content-by button {
    font-size: 1em;
    letter-spacing: 0.1em;
    cursor: pointer;
    line-height: 25px;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

.dropdown-content button:hover {
    font-size: 1.5em;
    transition: 0.5s ease-in-out;
}

.show {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 1s;
    background-color: black;
    min-width: 220px;
    min-height: 30px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.buttonEffect {
    color: rgb(75 192 192);
    border: 4px solid #000;
    box-shadow: 0 0 0 1px #000 inset;
    background-color: #000;
    overflow: hidden;
    position: center;
    transition: all 0.3s ease-in-out;
}

.buttonEffect:hover {
    border: 4px solid #666;
    background-color: transparent;
    box-shadow: 0 0 0 4px transparent;
    font-size: larger;
    font-weight: bolder;
}

.buttonEffect:after {
    background-color: transparent;
    border: 0 solid #000;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
}

.buttonEffect:hover:after {
    background: #FFF;
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}