#countries .country, #yearsCheckboxContainer .year {
    list-style: none;
    flex: 0 0 25%;
}

#countries .country {
    text-align: left;
}

#countries, #yearsCheckboxContainer {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

#yearsCheckboxContainer {
    justify-content: space-evenly;
    margin-top: 10px;
}
