.table-container {
    /* position: absolute;
    height: 40vh;
    width: 80vh; */
    
    position: absolute;
    min-height:400px;
    margin-top:40px;
    padding-top:580px;
    padding-bottom: 40px;
    padding-left:20px;
}
 