.page-content {
    width: 70%;
    height: 500px;
    display: block;
    position: absolute;
    top: 130px;
    padding-bottom: 50px;
}

.dataButtonsContainer {
    display: block;
}

.dataButtonsContainer p {
    display: block;
    justify-content: left;
    position: fixed;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 55px;
    font-size: 1.1em;
    font-weight: 500;
}

ul.dataButtonsList {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 0;
}

.dataButtonsList li button {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1em;
    letter-spacing: 0.1em;
    cursor: pointer;
    line-height: 20px;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

.dataButtonsList li button:hover {
    text-decoration: none;
    background: transparent;
}

@media screen and (max-height: 700px) {
    .page-content {
        width: 60%;
        height: 400px;
        top: 130px;
    }

    .dataButtonsList li button {
        font-size: 1em;
        letter-spacing: 0;
        line-height: 13px;
    }
}

@media screen and (max-height: 570px) {
    .page-content {
        width: 40%;
        top: 100px;
    }

    .dataButtonsList li button {
        font-size: 0.6em;
        letter-spacing: 0;
        line-height: 8px;
    }
}

@media screen and (max-width: 1150px) {
    .dataButtonsList li button {
        font-size: 1em;
        letter-spacing: 0;
        line-height: 13px;
    }
}

@media screen and (max-width: 980px) {
    .dataButtonsList li button {
        font-size: 0.6em;
        line-height: 8px;
    }
}